
<!-- <!DOCTYPE html> IT IS BETTER TO BE IN QUIRK MODE THAN THIS https://stackoverflow.com/questions/30277178/doctype-html-breaks-out-the-layout -->
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FedWave</title>
</head>

<body>
    
        {{{body}}}
    

    
</body>
</html>