<link rel="stylesheet" href="/chat.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="container">
<p>Common fedration interface and status for other servers</p>
<p>Pending Requests</p>
<p>Active Federation</p>
</div>